
body{
  width: 100%;
  height: 100%
}

 .App {
   width: 100%;
  height: 100vh;
} 

#map{
  width: 100%;
  height: calc(100% - 43px);
  overflow: hidden;
  position: relative;
}

/* Start navigation */

#navigation {
  width:100%;
  height: auto;
}

#navigation nav.heading {
  background-color : black;
  opacity : 1;
  padding : 10px 0;
  text-align: center;
  width: 100%;
  display:flex;
  flex-wrap: nowrap;
}

#navigation nav.heading #header {
  font-size: 15pt;
  color: whitesmoke;
  flex-grow: 1;
}

#locationList .hamburger-menu {
  position :absolute;
  top : 10px;
  left: 20px; 
}
#locationList .hamburger-menu p {

  width:25px;
  height: 2px;
  margin: 5px;
  background-color: whitesmoke;
}

#locationList .hamburger-menu:hover {

  cursor: pointer;
}

#locationList .menu-list {
  position: absolute;
  top: 43px ; 
  left: 0;
  margin: 0;
  background-color: darkturquoise;
  width: 230px;
  height:560px;
  max-height:85vh;
  overflow-y: scroll;
  list-style: none;
  padding-left: 0; 
  border : 1px solid black;
  border-radius : 0 0 4px 0;
  transition: all .8s ease-out ;
  
}

#locationList .menu-list input {
  margin: 0;
  width:100%;
  height: 35px;
  max-width:100%;
  border: 0;
  text-indent: 5px;
  font-size: 12pt;
  font-weight: 500
} 


#locationList ul.menu-list li {
  padding: 13px 0 13px 13px ;
  margin-bottom : 10px;
}

#locationList ul.menu-list li:last-of-type {
  margin-bottom: 0;
}

#locationList ul.menu-list li:hover {
  cursor: pointer;
  background-color: gold;
}

/* End navigation */

/* Start infoWindow */

div.infoWindow {
  border : 1px solid black;
  background-color: rgba(233, 12, 130, 0.452);
  text-indent: 3px; 
  font-weight: bold;
  padding : 0 8px;
  margin-left: 15px;
  margin-right: 0;
  
}

/* End infoWindow */


/* Start Responsive layout */

/* from 0 to 380px width */

@media screen and (max-width:380px){

  #navigation nav.heading #header{
    margin-left: 12px;
    flex-grow: 2;
  }
}

/*  from 380px width to the max  */

@media screen and (min-width:380px){

  #navigation nav.heading #header::after{
    
    content: ' Location';
  }
}

/*  from 640px height to the max  */

@media screen and (min-height:640px) {
  #locationList .menu-list  {

    min-height: 90vh;
  }
}


/* End Responsive layout */
