
body{
  width: 100%;
  height: 100%
}

 .App {
   width: 100%;
  height: 100vh;
} 

#map{
  width: 100%;
  height: calc(100% - 90px);
  overflow: hidden;
  position: relative;
}

/* Start navigation */

#navigation {
  width:100%;
  height: auto;
}

#navigation nav.heading {
  background-color : black;
  border-bottom: 1px solid black;
  opacity : 1;
  padding : 10px 0;
  text-align: center;
  width: 100%;
 
}

#navigation nav.heading #header {
  font-size: 16pt;
  color: gold;
  
}

#locationList .hamburger-menu {
  position :absolute;
  top : 10px;
  left: 20px; 
}
#locationList .hamburger-menu p {

  width:25px;
  height: 2px;
  margin: 5px;
  background-color: whitesmoke;
}

#locationList .hamburger-menu:hover {

  cursor: pointer;
}

#locationList .menu-list {
  position: absolute;
  top: 44px ; 
  left: 0;
  margin: 0;
  background-color: #4f91afec;
  width: 230px;
  height:78vh;
  max-height:82vh; 
  overflow-y: scroll;
  list-style: none;
  padding-left: 0; 
  border : 1px solid black;
  border-radius : 0 0 4px 0;
  transition: all .8s ease-out ;
  
}

#locationList .menu-list input {
  margin: 0;
  width:100%;
  height: 35px;
  max-width:100%;
  border: 0;
  text-indent: 5px;
  font-size: 12pt;
  font-weight: 500; 
}

#locationList ul.menu-list li {
  padding: 13px 0 13px 13px ;
  margin-bottom : auto;
  border-bottom: 1px solid rgba(94, 87, 87, 0.308);
  border-bottom-left-radius: 7px ; 
  border-bottom-right-radius: 7px;
  color : rgb(235, 245, 129);
}

#locationList ul.menu-list li:last-of-type {
  margin-bottom: 0;
  border-bottom: 0; 
}

#locationList ul.menu-list li:hover {
  cursor: pointer;
  background-color: gold;
  color : black; 
}

/* End navigation */

/* Start infoWindow */

div.infoWindow {
  height: 100%;
  border : 1px solid black;
  background-color: rgba(255, 217, 0, 0.363);
  text-indent: 3px; 
  font-weight: bold;
  padding : 0 8px;
  margin-left: 15px;
  margin-right: 0;
}

div.infoWindow p {
  color : rgb(168, 49, 85);
  font-size: 12pt;
}

/* End infoWindow */

/* Start footer */

  footer {
    width: 100% ;
    height: 43px;
    background-color:black;
    border-top : 1px solid black;
    text-align: center;
    line-height: 43px;
  }

  footer::before {
    content: 'Coded by ';
    color: white
  }

  footer span {
    color: gold;
    font-size: 14pt;  
  }

  footer::after {
    content: ' @ CopyRight 2018';
    color: white
  }

/* End footer */

/* Start Responsive layout */

/* from 0 to 380px width */

@media screen and (max-width:380px){

  #navigation nav.heading #header{
    margin-left: 12px;
    flex-grow: 2;
  }
  footer::after {
    content: '';
  }

}

/*  from 380px width to the max  */

@media screen and (min-width:380px){

  #navigation nav.heading #header::after{
    
    content: ' City';
  }
}

@media screen and (max-height:320px) {
  #locationList .menu-list  {
    max-height: 70vh;
  }
} 


/*  from 640px height to the max  */

@media screen and (min-height:640px) {
  #locationList .menu-list  {

    min-height: 85vh;
  }
}


/* End Responsive layout */
